server {
    server_name localhost;
    listen      80;

    location /notification/send {
        proxy_pass http://{{RATE_LIMITER_HOST}}:{{RATE_LIMITER_HTTP_PORT}}/send;
    }

    location /notification/no-limited/send {
        proxy_pass http://{{NOTIFICATION_HOST}}:{{NOTIFICATION_HTTP_PORT}}/send;
    }
}
